/*分页*/
.page-bar {
    margin: 40px auto;
    margin-top: 20px;

}

ul, li {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

.page-bar li:first-child > a {
    margin-left: 0px
}

.page-bar a {
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5D6062;
    cursor: pointer;
    margin-right: 20px;
}

.page-bar a:hover {
    background-color: #eee;
}

.page-bar a.banclick {
    cursor: not-allowed;
}

.page-bar .active a {
    color: #fff;
    cursor: default;
    background-color: #E96463;
    border-color: #E96463;
}

.page-bar i {
    font-style: normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

.pics {
    margin: 0 auto;
    width: 800px;
    border: black solid 1px;
}